@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    font-family: 'Sour Gummy', cursive;
    font-weight: 900;
    color: #ff6347; /* Tomato color */
}
h2 {
    font-family: 'Sour Gummy', cursive;
    font-weight: 700;
    color: #4682b4; /* Steel Blue color */
}

h3 {
    font-family: 'Sour Gummy', cursive;
    font-weight: 500;
    color: #32cd32; /* Lime Green color */
}
body {
    font-family: 'Sour Gummy', cursive;
    background-color: #f0f0f0;
    color: #333;
}